@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Score= @Model.score</h1>
</div>
<form method="post">
    Max number
    <input type="number" asp-for="max" />
    Number of rows
    <input type="number" asp-for="rows" />
    Number of columns

    <input type="number" asp-for="columns"/>
    <button type="submit">New game</button>
</form>

<div>
    Test=@Model.max
</div>
<table>
    @{
        for(int i=0;i<@Model.rows;i++)
        {
        <tr></tr>
            for(int j=0;j<@Model.columns;j++)
            {
                <td>@Model.game.ReturnN(i,j).number </td>
            }
        
        }
    }
</table>